.container {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#letter {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.can {
  position: absolute;
  width: 286px;
  height: 430px;
  top: 415px;
  padding: 10px;
}

#can1 {
  left: 404px;
}

#can2 {
  left: 808px;
}

#can3 {
  left: 1212px;
}

#button {
  display: none;
  margin: 100px auto;
  width: 500px;
  height: 100px;
  font-size: 30px;
  border-radius: 150px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 0 14px 0 grey;
  text-decoration: none;
  background-color: rgb(247, 247, 247);
  text-align: center;
  justify-content: flex-start;
  line-height: 100px;
}
